@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;

// Add yellow and its invert
// $yellow: #FADD6E;
// $yellow-invert: #fff;

// Update the sans-serif font family
$family-sans-serif: "Quicksand", "Arial", sans-serif;

// 3. Set the derived variables
$primary: $yellow;
$primary-invert: findColorInvert($yellow);
$link:$black;

$tab-color: $primary;
$tab-color-light: #fbdd5853;
@import "./tabs-overrides.scss";

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-switch/dist/css/bulma-switch";
@import "../node_modules/bulma-divider/dist/css/bulma-divider";
@import "../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip";

@import "./readings.scss";
@import "./link-decoration.scss";

