$tabs-link-padding: 8px 16px 8px 20px;

$tabs-toggle-link-border-color: $tab-color;

$tabs-toggle-link-active-background-color: $tab-color;
$tabs-toggle-link-active-border-color: $tab-color;

$tabs-toggle-link-hover-background-color: $tab-color-light;
$tabs-toggle-link-hover-border-color: $tab-color;