

.readings  {
    display: grid;
    grid-gap: 1.5em;
    align-items: top;
    justify-content: center;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(320px, 0.27fr));
}

.readings .reading{
    height: max-content;
    border: 2px solid #FBDD58;
    border-radius: 8px;
    box-shadow: none;
}
.is-borderless {
    border: none;
}

.aqi-1  {color: rgb(37, 255, 91)}
.aqi-2  {color: rgb(136, 253, 40)}
.aqi-3  {color: rgb(187, 255, 0)}
.aqi-4  {color: rgb(238, 255, 1)}
.aqi-5  {color: rgb(251, 255, 0)}
.aqi-6  {color: rgb(255, 217, 0)}
.aqi-7  {color: rgb(255, 196, 0)}
.aqi-8  {color: rgb(255, 123, 0)}
.aqi-9  {color: rgb(253, 83, 40)}
.aqi-10 {color: rgb(158, 33, 33)}

.aqi-1-bg  {background-color: rgb(37, 255, 91)}
.aqi-2-bg  {background-color: rgb(136, 253, 40)}
.aqi-3-bg  {background-color: rgb(187, 255, 0)}
.aqi-4-bg  {background-color: rgb(238, 255, 1)}
.aqi-5-bg  {background-color: rgb(251, 255, 0)}
.aqi-6-bg  {background-color: rgb(255, 217, 0)}
.aqi-7-bg  {background-color: rgb(255, 196, 0)}
.aqi-8-bg  {background-color: rgb(255, 123, 0)}
.aqi-9-bg  {background-color: rgb(253, 83, 40)}
.aqi-10-bg {background-color: rgb(158, 33, 33)}



:root {
    --example-green-color: rgba(37, 255, 91);
}

.value-badge {
    background: radial-gradient(ellipse at center,
            var(--example-green-color) 40%,
            rgba(107, 255, 107, 0.493) 70%,
            rgba(127, 255, 170, 0) 70.3%); 
            /* one half of ( (border * 2) + height + padding )*/
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;

    color: white;
}



.value-badge-2 {
    background: radial-gradient(5px -9px, circle, white 8%, var(--example-green-color) 26px);
    background-color: var(--example-green-color);
    border: 2px solid white;
    border-radius: 1.5em;
    /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 0px 0px 6px rgb(218, 218, 218);
    color: white;
    width: 2em;
    height: 2em;
    padding: 4px 3px 0 3px;
    text-align: center;
}
.value-badge-2-open {
    background-color: #fff;
    color: var(--example-green-color);
}

.value-badge-outline {
    border: 0.2em solid var(--example-green-color);
    color: var(--example-green-color);
    border-radius: 1.5em;
    width: 1.6em;
    height: 1.6em;
    line-height: 2em;
    box-sizing: content-box;
    line-height: 1.6em;
}

.value-badge-outline p {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.value-badge-outline-filled {
    border:none;
    width: 2em;
    height: 2em;
    background: var(--example-green-color);
    color: white;
    line-height: 2em;
}




.value-band {
    margin-top: 0.5em;
    line-height: 1.5em;
    color: var(--example-green-color);
}

.value-band-filled {
    background: var(--example-green-color);
    color: white;
}

.value-band-shifted {
    margin-top: -0.5em;
}