

.readings  {
    display: grid;
    grid-gap: 1.5em;
    align-items: top;
    justify-content: center;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
}

.card {
    height: max-content;
}
.card-header {
    box-shadow: none;
    padding: 8px;
}
.card-footer {
    border: none;
}

.aqi-1  {color: rgb(37, 255, 91)}
.aqi-2  {color: rgb(136, 253, 40)}
.aqi-3  {color: rgb(187, 255, 0)}
.aqi-4  {color: rgb(238, 255, 1)}
.aqi-5  {color: rgb(251, 255, 0)}
.aqi-6  {color: rgb(255, 217, 0)}
.aqi-7  {color: rgb(255, 196, 0)}
.aqi-8  {color: rgb(255, 123, 0)}
.aqi-9  {color: rgb(253, 83, 40)}
.aqi-10 {color: rgb(158, 33, 33)}