.modal-close {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, .1) !important;
  color: black !important;
  float: right !important;
  top: 0px !important;
  left: 0px;
}

.modal-card table {
  font-size: 0.86em;
}

#element-toggle {
  display: none;
}

#element-toggle:checked~#myModal {
  display: flex;
  position: fixed;
}

ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-title-header {
  color: #524E73;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-block;
}

.is-info .nav-link {
  text-align: center !important;
}

.navbar-item img {
  max-height: 2.5rem !important;
}

.fas {
  text-decoration: none !important;
}

.card-outline {
  border: 2px solid #FBDD58;
  border-radius: 8px;
}


@media screen and (max-width:1024px) {
  .is-pulled-right {
    float: none !important;
  }
  .is-pulled-left {
    float: none !important;
  }
}

.button:hover {
  background-color: white !important;
  border: 1px solid #FBDD58 !important;
}

.icon.is-large {
  height: 2em !important;
}

@media screen and (min-width: 769px) {
  .modal-content,
  .modal-card {
    width: 90%;
  }
}

@media screen and (max-width: 769px) {
  .modal-card-head {
    display: block;
  }
  .main-link span {
    font-size: 1.4em !important;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-link:not(.is-arrowless) {
    padding-right: 0 !important;
  }
  .navbar-end {
    margin-bottom: 20px !important;
  }
  .firstNavItemMobile {
    margin-top: 10px !important;
    padding-bottom: 0px !important;
  }
  .NavbarItemMobile {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .is-info {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .navbar-dropdown {
    padding: 0px !important;
  }
  hr {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    border: #FBDD58 1px dashed;
  }
  
  .navbar-menu {
    height: 100vh !important;
  }
}

.VERY_HIGH {
  border-bottom: 5px solid #909;
}

.HIGH {
  border-bottom: 5px solid red;
}

.MODERATE {
  border-bottom: 5px solid #f90;
}

.LOW {
  border-bottom: 5px solid #090;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}


.value-badge {
  border-radius: 1.5em;
  width: 1.6em;
  height: 1.6em;
  line-height: 2em;
  box-sizing: content-box;
  line-height: 1.6em;
  margin: 0;
  font-weight: normal;
}


.value-badge.large {
  border-radius: 2em;
  margin: auto !important;
  line-height: 1em;
  font-size: 6rem;
  border: 6px solid;
}


.advice-box {
  border: 2px solid #FBDD58;
  border-radius: 8px;
}


#tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}