:root {
    --aqi-1-color: rgb(37, 255, 91);
    --aqi-1-color-text: rgb(30, 206, 74);
    --aqi-2-color: rgb(136, 253, 40);
    --aqi-2-color-text: rgb(104, 194, 31);
    --aqi-3-color: rgb(166, 226, 2);
    --aqi-3-color-text: rgb(125, 170, 0);
    --aqi-4-color: rgb(255, 230, 0);
    --aqi-4-color-text: rgb(192, 157, 0);
    --aqi-5-color: rgb(255, 208, 0);
    --aqi-5-color-text: rgb(214, 175, 0);
    --aqi-6-color: rgb(255, 187, 0);
    --aqi-6-color-text: rgb(204, 150, 0);
    --aqi-7-color: rgb(255, 145, 0);
    --aqi-7-color-text: rgb(192, 109, 0);
    --aqi-8-color: rgb(255, 123, 0);
    --aqi-8-color-text: rgb(158, 58, 0);
    --aqi-9-color: rgb(253, 73, 28);
    --aqi-9-color-text: rgb(143, 39, 14);
    --aqi-10-color: rgb(224, 28, 224);
    --aqi-10-color-text: rgb(139, 16, 139);
}

.readings  {
    display: grid;
    grid-gap: 1.5em;
    align-items: top;
    justify-content: center;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(374px, 0.27fr));
}

.readings .reading{
    height: max-content;
    border: 2px solid #FBDD58;
    border-radius: 8px;
    box-shadow: none;
    background-color: #fff;
}
.reading-bare{
    padding: 0.8em 1.5em;
}

.is-borderless {
    border: none;
}



.invisible {
    opacity: 0;
}
.make-visible {
    transition-property: opacity;
    transition-delay: 0.2s;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}
    .make-visible.fast {
        transition-delay: 0;
        transition-duration: .3s;
    }


.aqi-1  {color: var(--aqi-1-color-text) ;}
.aqi-2  {color: var(--aqi-2-color-text) ;}
.aqi-3  {color: var(--aqi-3-color-text) ;}
.aqi-4  {color: var(--aqi-4-color-text) ;}
.aqi-5  {color: var(--aqi-5-color-text) ;}
.aqi-6  {color: var(--aqi-6-color-text) ;}
.aqi-7  {color: var(--aqi-7-color-text) ;}
.aqi-8  {color: var(--aqi-8-color-text) ;}
.aqi-9  {color: var(--aqi-9-color-text) ;}
.aqi-10 {color: var(--aqi-10-color-text);}


.aqi-1.border  {border: 0.2em solid var(--aqi-1-color) ;}
.aqi-2.border  {border: 0.2em solid var(--aqi-2-color) ;}
.aqi-3.border  {border: 0.2em solid var(--aqi-3-color) ;}
.aqi-4.border  {border: 0.2em solid var(--aqi-4-color) ;}
.aqi-5.border  {border: 0.2em solid var(--aqi-5-color) ;}
.aqi-6.border  {border: 0.2em solid var(--aqi-6-color) ;}
.aqi-7.border  {border: 0.2em solid var(--aqi-7-color) ;}
.aqi-8.border  {border: 0.2em solid var(--aqi-8-color) ;}
.aqi-9.border  {border: 0.2em solid var(--aqi-9-color) ;}
.aqi-10.border {border: 0.2em solid var(--aqi-10-color);}



.main-link {
    color: black;
    text-decoration: underline;
    padding: 3px;
}
.main-link:hover {
    background-color: #FBDD58;
    color: black;
    text-decoration: none;
    box-sizing: content-box;
}

.value-badge {
    border-radius: 1.5em;
    width: 1.6em;
    height: 1.6em;
    line-height: 2em;
    box-sizing: content-box;
    line-height: 1.6em;
    margin: 0 0 0 auto;
    font-weight: normal;
}

.value-badge p {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-link {
    font-size: 90%;
}